* {
    color: rgb(62, 33, 5);
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

body {
    background-image: url("../server/assets/images/background.jpg");
    background-size: 150px;
    width: 90%;
    padding-bottom: 2%;
}

h1 {
    border: 1px solid;
    margin: 10px;
    background-color: white;
}

#cage {
    background-color: rgba(57, 90, 41, 0.813);
}

.beast {
    width: 70%;
    padding: 10px;
}

.beast:first-child {
    border-radius: 25% 25% 0 0;
}

.beast:last-child {
    border-radius: 0 0 25% 25%;
}

img {
    width: 25px;
    margin-left: 10px;
}
