* {
    background-color: burlywood;
    color: rgb(62, 33, 5);
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

body {
    width: 90%;
    padding-bottom: 2%;
}

h1 {
    border: 1px solid;
    margin: 10px;
}

.beast {
    background-color: rgb(60, 147, 60);
    padding: 10px;
}

.beast:first-child {
    border-radius: 25% 25% 0 0;
}

.beast:last-child {
    border-radius: 0 0 25% 25%;
}

img {
    width: 20px;
    margin-left: 10px;
}
